.footer{
    h3, p, a{
        color: $blanco;
    }

    h3{
        margin-top: 5rem;
        font-weight: $bold;
    }

    p, a{
        font-size: 2.2rem;
    }

    a{
        transition: color 0.3s ease; 

        &:hover{
            
            color: $azulClaro;
        }
    }

    text-align: center;

    @include tablet{
        text-align: left;
    }
}

.contenido-footer{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include tablet{
        flex-direction: row;
        gap: 10rem;
    }

}

.links{
    
    nav{
        display: flex;
        flex-direction: column;
    }
}

.sociales{
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;

        img{
            width: 5rem;
        }
    }
}

.contacto{
    p{
        margin: 0;
    }
}

.copyright{
    text-align: center;
    margin-top: 5rem;
}

.links, .contacto, .sociales{
    @include tablet{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}
