.footer{
    h3{
        color: $blanco;
        font-weight: $bold;
        text-align: left;
    }

    p{
        color: $blanco;
        text-align: center;
    }
    
}

.contenido-footer{
    display: flex;
    flex-direction: column;

    
    @include tablet{
        display: flex;
        flex-direction: row;
        gap: 10rem;
    }
}

.sociales{

    nav{
        display: flex;
        gap: 3rem;
        align-items: center;
    }

    img{
        width: 5rem;

        &:hover{

        }
    }
}

.links{
    nav{
        display: flex;
        flex-direction: column;
    }

    a{
        font-size: 2.2rem;
        color: $blanco;
        transition: color 0.3s ease;

        &:hover{
            color: $azulClaro;
        }
    }
}

.contacto{
    display: inline-block;

    p{
        font-size: 2.2rem;
        margin: 0;
        text-align: left;
    }
    
}