.proyectos{

    div{

        background-image: url(../img/keyboard.jpg);
        background-size: cover;
        background-position: center center;
        height: 40rem;
    }
    
    h2{
        color: $blanco;
        font-weight: $bold;
    }
}